In [201]:
import sys
print(sys.executable)

/bin/python

In [202]:
import pandas as pd

In [203]:
file = 'data/transform/transform_marketing.csv'
df = pd.read_csv(file)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   7046 non-null   object
 1   prices_amount_max    7046 non-null   float64
 2   prices_amount_min    7046 non-null   float64
 3   prices_availability  7046 non-null   object
 4   prices_condition     7046 non-null   object
 5   prices_currency      7046 non-null   object
 6   prices_date_seen     7046 non-null   object
 7   prices_is_sale       7046 non-null   bool
 8   prices_merchant      7046 non-null   object
 9   prices_shipping      7046 non-null   object
 10  prices_source_urls   7046 non-null   object
 11  asins                7046 non-null   object
 12  brand                7046 non-null   object
 13  categories           7046 non-null   object
 14  dateAdded            7046 non-null   object
 15  dateUpdated          7046 non-null   object
 16  image_urls           7046 non-null   object
 17  keys                 7046 non-null   object
 18  manufacturer         7046 non-null   object
 19  manufacturer_number  7046 non-null   object
 20  name                 7046 non-null   object
 21  primary_categories   7046 non-null   object
 22  source_urls          7046 non-null   object
 23  upc                  7046 non-null   object
 24  weight               7046 non-null   object
 25  shipping_cost        7046 non-null   float64
dtypes: bool(1), float64(3), object(22)
memory usage: 1.4+ MB

In [205]:
df[['prices_availability']].value_counts()

prices_availability
In Stock               6671
PreOrder                200
Out of Stock            135
Unknown                  40
Name: count, dtype: int64

In [206]:
df['prices_condition'].value_counts()

prices_condition
New            6821
Used            141
Refurbished      81
Unknown           3
Name: count, dtype: int64

In [207]:
df_1 = df['weight'].str.split().str[:2].str.join(" ")

In [208]:
def weight_to_kg(data):
    data = data.split()
    return len(data)

In [209]:
df_1 = df_1.apply(weight_to_kg)

In [210]:
df_1.value_counts()

weight
2    7001
1      45
Name: count, dtype: int64