In [ ]:
from ETL.extract.extract import Extract
from ETL.transform.transform import Transform

In [ ]:
extract = Extract()
url = 'postgresql://postgres:password123@localhost:5432/etl_db'
Transform = Transform()

In [4]:
df_sales = extract.connection_to_database(url,'amazon_sales_data')

In [6]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100892 entries, 0 to 100891
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            100892 non-null  object
 1   main_category   100892 non-null  object
 2   sub_category    100892 non-null  object
 3   image           100892 non-null  object
 4   link            100892 non-null  object
 5   ratings         100630 non-null  object
 6   no_of_ratings   100630 non-null  object
 7   discount_price  100892 non-null  object
 8   actual_price    100892 non-null  object
 9   Unnamed: 0      100892 non-null  object
dtypes: object(10)
memory usage: 7.7+ MB

In [7]:
df_sales.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
0,Aahwan Women's & Girls' Solid Basic Super Crop...,women's clothing,Western Wear,https://m.media-amazon.com/images/I/61Ou9rolop...,https://www.amazon.in/Aahwan-Cropped-Without-W...,None,None,₹399,₹999,
1,Fabme Unisex's Cold Weather Headband (PO2-ACC0...,sports & fitness,"All Sports, Fitness & Outdoors",https://m.media-amazon.com/images/I/81LVOS343V...,https://www.amazon.in/Fabme-Unisexs-Headband-P...,5,1,₹265,₹999,1110.0
2,Men's Fashion Sneakers Lace-Up Trainers Basket...,men's shoes,Casual Shoes,https://m.media-amazon.com/images/I/71sCueaM0-...,https://www.amazon.in/Fashion-Sneakers-Lace-Up...,None,None,,,
3,HISTORICAL INDIA - Gwalior Collection - ½ Anna...,women's clothing,Clothing,https://m.media-amazon.com/images/I/91N6W7gYl3...,https://www.amazon.in/HISTORICAL-INDIA-Gwalior...,4.4,40,₹670,"₹1,500",
4,Sonata Act Safety Watch Analog White Dial Wome...,accessories,Watches,https://m.media-amazon.com/images/I/81sf24RFnD...,https://www.amazon.in/Sonata-Safety-Analog-Wom...,3,22,,"₹3,040",

In [ ]:
df_drop_null = Transform.drop_null_data(df_sales)
# drop duplicated data
df_drop_duplicate = Transform.drop_duplicate(df_drop_null)